
@media screen and (max-width: 1200px) {
    #footer{
        .content{
            flex-direction: column;
            justify-content: center;
            vertical-align: middle;
            text-align: center;
        }
        #map{
            margin: 20px auto;
            width:80%
            // margin-top: 10px;
        }
    }
    }

@media screen and (max-width: 700px) {
    .pc{
        display: none !important;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        // text-align: center;
        #contact_h1{
            margin-top: 0 !important;
        }
        .sticky_h2{
            h2{
                margin-left: 0 !important;
            }
        }
    }
    #navbar {
        // padding-bottom: 10px !important;
        
        .logo{
            height:90px !important;
            width: 90px !important; 
            margin-top: 0px;
            margin-left: -10px;
            margin-bottom: 5px;
            opacity: .2;
        }
        .items {
            margin:0;
            width: 100vw;
            padding: 0 20px;
            margin-top: 40px !important ;
            align-items: center;
            #home{
                // display: none;
            }
        li {
            display: inline-block;

            font-size: 20px;
            margin-left :10px;
            margin-right: 10px;
        }
        }
    }

    #footer{
        height: unset !important;
        .contacts{
            grid-template-columns: auto !important;
        }
        .credits{
            h2{
                font-size: 0.9em !important;
            }
        }
    }
    .card{
        width: 80vw;
        height:20vh;
        padding:20px !important;
        margin: 0 !important;
        border-radius: 40px !important;
        h1{
            font-size: 1rem;
            margin: 0;
            
        }
        p{
            font-size: .8rem;
            margin: 0;
            
        }
        div:nth-child(2){
            margin-left: 20px;
        }
        .buttons{
            div{
                svg{
                    height:30px;
                    width: 30px;
                }
            }
        }
    }
    .sticky_h2{
        padding: 5px 15px !important;
        top:120px !important;
        h2{
            font-size: 1.2rem !important;
        }
    }
}
