@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo");
@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono");
a {
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #344966;
  overflow-x: hidden;
}

.pc {
  display: block;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(46, 46, 51);
  z-index: 9999;
}
#loader #loadergif {
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-image: url(../assets/loader.gif);
  background-position: center;
  background-origin: center;
  background-repeat: no-repeat;
}

@keyframes fade-above-enter {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes down-enter {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
    transform: translateY(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes texthover1 {
  0% {
    color: rgb(235, 112, 112);
  }
  33% {
    color: rgb(149, 104, 233);
  }
  100% {
    color: rgb(235, 112, 112);
  }
}
* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.opensans {
  font-family: "Open Sans";
}

.hamburger-menu {
  position: fixed;
  z-index: 100;
  top: 30px;
  margin-left: -100px;
  left: 100vw;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: rgba(189, 189, 189, 0.4588235294);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-menu span {
  text-align: center;
  font-size: 35px;
}

#navbar {
  position: fixed;
  z-index: 10 !important;
  padding-bottom: 10px;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 98;
}
#navbar .logo {
  background-image: url("../assets/img/logomin.png");
  height: 120px;
  width: 120px;
  margin-top: 30px;
  background-size: contain;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  left: 50px;
  cursor: pointer;
}
#navbar .items {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  transform: translateY(-50%);
  margin-right: 50px;
  float: right;
  margin-top: 90px;
  color: rgb(228, 228, 228);
}
#navbar .items li {
  display: inline-block;
  font-family: "Raleway";
  margin: 0 20px 0 20px;
  font-size: 30px;
  margin-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.2s ease;
}
#navbar .items li:hover {
  color: rgb(175, 175, 175);
}

#body {
  background-color: #344966;
  top: 0;
  left: 0;
  width: 100vw;
}

#first-page {
  top: 0;
  left: 0;
  padding: 0;
  position: relative;
  padding-top: 120px;
  color: #edefef;
  height: 100vh;
}
#first-page #intro-div {
  position: relative;
  width: 100vw;
  height: 85%;
  vertical-align: middle;
  margin: 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#first-page #intro-div .container {
  padding: 30px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 60vw;
  align-items: middle;
}
#first-page #intro-div .container .intro {
  text-align: left;
  vertical-align: center;
  font-size: 35px;
  font-family: "Raleway";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  animation: 1s 1s ease down-enter forwards;
  animation-delay: 1s;
  transform: translateY(-100%);
}
#first-page #intro-div .container .intro #info {
  color: #fffcf9;
  font-size: 90px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#first-page #intro-div .container .intro #info #technika {
  font-family: "Poppins";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 90px;
}
#first-page #intro-div .container .intro #info #technika.long {
  font-size: 60px;
  transform: translateY(-10px);
  display: inline-block;
}
#first-page #intro-div .container .intro #info #technika .bounce {
  transition: 0.2s ease;
  animation: bounce 0.2s ease;
  display: inline-block;
}
#first-page #intro-div .container #pinfo {
  width: 30vw;
  font-family: "Open Sans";
  text-align: justify;
  margin: 0 auto;
  animation-delay: 2s;
  opacity: 0;
  width: auto !important;
  margin: 0 auto;
  text-align: justify;
  padding-top: 10px;
}
#first-page #intro-div .container #comingsoon {
  font-size: 30px;
  color: rgb(134, 185, 243);
}
#first-page #intro-div .container #knowmorebtn {
  margin-top: 10px;
  height: 75px;
  width: 300px;
  font-size: 35px;
  color: #fffcf9;
  font-family: "Poppins";
  border-radius: 160px;
  background: linear-gradient(-45deg, #344966, #0d1821);
  background-size: 200% 200%;
  background-position: 50% 50%;
  text-align: center;
  animation-delay: 2s;
  opacity: 0;
  display: table;
  transform: scale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-style: preserve-3d;
}
#first-page #intro-div .container #knowmorebtn a {
  color: #edefef;
  transform: translateZ(20px);
  vertical-align: middle;
  display: table-cell;
}
#first-page #intro-div #countdown_container {
  z-index: 5 !important;
  background-color: rgba(1, 21, 34, 0.6862745098);
  border-radius: 8px;
  font-family: "spacemono", monospace;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 600px;
  padding: 70px 70px;
  z-index: 99;
  font-family: "Space Mono", monospace;
  font-weight: lighter;
}
#first-page #intro-div #countdown_container .tools {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  align-items: center;
  padding: 9px;
}
#first-page #intro-div #countdown_container .tools .circle {
  padding: 0 4px;
}
#first-page #intro-div #countdown_container .tools .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}
#first-page #intro-div #countdown_container .tools .red {
  background-color: #ff605c;
}
#first-page #intro-div #countdown_container .tools .yellow {
  background-color: #ffbd44;
}
#first-page #intro-div #countdown_container .tools .green {
  background-color: #00ca4e;
}
#first-page #intro-div #countdown_container p {
  text-align: center;
  font-size: 1.5rem;
}
#first-page #intro-div #countdown_container h1 {
  color: #fffcf9;
  font-size: 3rem;
  margin-bottom: 25px;
  white-space: normal !important;
}
#first-page #intro-div #countdown_container #countdown {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
#first-page #intro-div #countdown_container #countdown p {
  transition: 0.2s ease;
  font-size: 2.5em;
  color: #ebebeb;
  font-family: "Space Mono", monospace;
}
#first-page #intro-div #countdown_container #countdown div {
  transition: 0.2s ease;
}
#first-page #intro-div #countdown_container #countdown div:hover {
  color: #bdbdbd;
}
#first-page #intro-div #countdown_container #countdown div:hover p {
  color: #bdbdbd;
}

#after-wave {
  background-color: #edefef;
}

#second-page #spwave {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  width: 100vw;
}
#second-page .content {
  padding: 10vh 5vw;
  text-align: center;
  margin-top: 50px;
  position: relative;
}
#second-page .content #info_grid {
  top: 50%;
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 50px;
  margin-top: 40px;
  border-radius: 40px;
  background-color: rgb(231, 231, 231);
}
#second-page .content #info_grid h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0px 0px 20px rgba(14, 14, 14, 0.301);
  display: inline-block;
  transition: 0.25s;
}
#second-page .content #info_grid h1:hover {
  color: rgb(35, 89, 151);
  transform: scale(1.05);
  text-shadow: 0px 0px 15px rgba(14, 14, 14, 0.301);
}
#second-page .content #info_grid p {
  font-family: Poppins;
  text-align: center;
  font-size: 1.5em;
  font-size: 20px;
}
#second-page .content #info_grid p:nth-of-type(1) {
  margin-top: 40px;
}
#second-page .content #info_grid p .special-text {
  font-family: Raleway;
  font-weight: bold;
}
#second-page .content #info_grid p .special-text strong {
  font-family: Open Sans;
  transition: 0.3s ease;
  color: rgb(32, 32, 32);
}
#second-page .content #info_grid p .special-text strong:hover {
  color: rgb(35, 89, 151);
}
#second-page .content #events_indicator {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
#second-page .content #events_indicator svg {
  animation: up-and-down 2s ease infinite;
}

#third-page {
  padding-top: 50px;
  background-color: #edefef;
  position: relative;
  padding-bottom: 10px;
}
#third-page .content {
  padding: 0 5vw;
  text-align: center;
  margin: 0 50px;
  margin-bottom: 50px;
  position: relative;
}
#third-page .content #events-grid {
  padding: 50px 20px;
  border-radius: 40px;
  background-color: rgba(255, 240, 158, 0.39);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  box-sizing: border-box;
  max-height: inherit;
  overflow-x: hidden;
}
#third-page .content #events-grid h1:nth-of-type(1) {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  transition: 0.2s;
  margin-bottom: 30px;
}
#third-page .content #events-grid h1:nth-of-type(1):hover {
  color: rgb(35, 114, 151);
  transform: scale(1.05);
}
#third-page .content .event-card {
  margin: 20px;
  display: inline-block;
  width: 30%;
  position: relative;
  overflow: hidden;
}
#third-page .content .event-card.card-1 {
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2705882353);
}
#third-page .content .event-card.card-1 .img {
  height: 90%;
  margin: 0;
  width: 100%;
  z-index: 20;
  position: absolute;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  transition: 0.8s ease;
}
#third-page .content .event-card.card-1 .info {
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2705882353);
  height: 90%;
  top: 70%;
  position: absolute;
  width: 100%;
  z-index: 25;
  background-color: white;
  transition: 0.3s ease;
  cursor: pointer;
  padding-right: 10px;
  overflow: hidden;
  overflow-x: hidden;
}
#third-page .content .event-card.card-1 .info h2 {
  font-family: Open Sans;
  margin-top: 48px;
  transform: translateY(-100%);
  font-size: 18px;
  transition: 0.7s ease;
}
#third-page .content .event-card.card-1 .info p {
  margin-top: 101px;
  padding: 0 10px;
  transition: 0.5s ease;
  font-size: 13px;
  font-family: Poppins;
  text-align: left;
}
#third-page .content .event-card.card-1 .info p:nth-of-type(1) {
  margin-top: 40px;
}
#third-page .content .event-card.card-1 .info p .special-text {
  font-family: Raleway;
  font-weight: bold;
}
#third-page .content .event-card.card-1 .info p .special-text strong {
  font-family: Open Sans;
  transition: 0.3s ease;
  color: rgb(32, 32, 32);
}
#third-page .content .event-card.card-1 .info p .special-text strong:hover {
  color: rgb(99, 0, 0);
}
#third-page .content .event-card.card-1 .cover {
  height: 100%;
  margin: 0;
  width: 100%;
  z-index: 22;
  position: absolute;
  background-color: black;
  opacity: 0;
  transition: 0.4s ease;
}
#third-page .content .event-card.card-1:hover .info {
  top: 10%;
}
#third-page .content .event-card.card-1:hover .cover {
  opacity: 0.8;
}
#third-page .content .event-card.card-1:hover .img {
  margin-top: -9%;
}
#third-page .content .event-card.card-1:hover h2 {
  margin-top: 30px;
}
#third-page .content .event-card.card-1:hover p {
  margin-top: 5px !important;
}
#third-page .content .event-card.card-2 {
  color: black;
  position: relative;
  border-radius: 2.5em;
  padding: 2em;
  transition: transform 0.4s ease;
  font-family: "Courier New", Courier, monospace;
}
#third-page .content .event-card.card-2.IT {
  background: #70d6ff;
}
#third-page .content .event-card.card-2.Math {
  background: #eea4a4;
}
#third-page .content .event-card.card-2.Science {
  background: #84dcc6;
}
#third-page .content .event-card.card-2 .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.4s ease;
}
#third-page .content .event-card.card-2 .card-top, #third-page .content .event-card.card-2 .card-bottom {
  display: flex;
  justify-content: space-between;
}
#third-page .content .event-card.card-2 .card-top p, #third-page .content .event-card.card-2 .card-top .card-title, #third-page .content .event-card.card-2 .card-bottom p, #third-page .content .event-card.card-2 .card-bottom .card-title {
  margin: 0;
}
#third-page .content .event-card.card-2 .card-title {
  font-weight: bold;
}
#third-page .content .event-card.card-2 .card-top p, #third-page .content .event-card.card-2 .card-bottom p {
  font-weight: 600;
}
#third-page .content .event-card.card-2 .card-bottom {
  align-items: flex-end;
}
#third-page .content .event-card.card-2 .card-image {
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translateX(-50%);
  top: 20%;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  padding: 10px;
  border-radius: 100%;
}
#third-page .content .event-card.card-2 .card-image svg {
  width: 5em;
  height: 5em;
  transition: transform 0.4s ease;
}
#third-page .content .event-card.card-2 .info p {
  height: 150px;
  overflow-y: scroll;
  margin-top: 10px;
}
#third-page .content .event-card.card-2:hover {
  cursor: pointer;
  transform: scale(0.97);
}
#third-page .content .event-card.card-2:hover .card-content {
  transform: scale(0.96);
}
#third-page .content .event-card.card-2:hover .card-image svg {
  transform: scale(1.031);
}
#third-page .content .event-card.card-2:active {
  transform: scale(0.9);
}
#third-page .more_info {
  float: right;
  color: rgb(40, 79, 153);
  margin-right: 20px;
  font-size: 20px;
  font-family: Poppins;
}
#third-page .more_info:active {
  color: rgb(105, 0, 140);
}
#third-page .more_info:hover {
  color: blue;
}
#third-page #our-team {
  height: 800px;
  width: 80vw;
  background-color: #0f111f;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: middle;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
}
#third-page #our-team::before {
  position: absolute;
  width: 100vw;
  height: 800px;
  background-color: #0f111f;
}
#third-page #our-team #ourteam_content {
  position: relative;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
#third-page #our-team #team-pic {
  height: 100%;
  width: 100%;
  margin-left: -150px;
  position: absolute;
  background-position: center;
  background-image: url("../assets/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
}
#third-page #our-team .team-info {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-10%, -90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(248, 248, 248);
  transform-style: preserve-3d;
}
#third-page #our-team .team-info #team-redirect {
  font-size: 60px;
  font-weight: bold;
  font-family: Raleway;
  transform: translateZ(60px);
  background-color: rgba(0, 0, 0, 0.646);
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s ease;
}
#third-page #our-team .team-info #team-redirect span {
  font-size: 60px;
  transform: translateY(10px);
}
#third-page #our-team .team-info #team-redirect span:hover {
  color: black;
}
#third-page #our-team .team-info #team-redirect:hover {
  color: rgb(11, 21, 36);
  background-color: rgba(255, 255, 255, 0.417);
  transform: scale(1.1) translateZ(60px);
}
#third-page #our-team .team-info #team-info {
  font-size: 20px;
  width: 90%;
  color: rgb(222, 222, 222);
  transform: translateZ(30px);
  background-color: rgba(0, 25, 60, 0.625);
  border-radius: 20px;
  margin-top: 5px;
}

.terminal-card {
  width: 190px;
  height: 254px;
  margin: 0 auto;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
  font-family: "spacemono", monospace;
}
.terminal-card .tools {
  display: flex;
  align-items: center;
  padding: 9px;
}
.terminal-card .circle {
  padding: 0 4px;
}
.terminal-card .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}
.terminal-card .red {
  background-color: #ff605c;
}
.terminal-card .yellow {
  background-color: #ffbd44;
}
.terminal-card .green {
  background-color: #00ca4e;
}
.terminal-card .info {
  font-size: 1em;
  color: rgb(224, 224, 224);
  font-family: "spacemono", monospace;
}
.terminal-card .info h2 {
  margin-bottom: 20px;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes bounce {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotate(-10deg);
    color: rgb(190, 190, 190);
  }
  100% {
    transform: rotate(0deg);
  }
}
.frosted-glass {
  background: inherit;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
}
.frosted-glass::before {
  content: "";
  position: absolute;
  background: inherit;
  border-radius: 10px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
  margin: -20px;
}

/* waves */
.ocean {
  height: 377px;
  transform-origin: center left;
  transform: translateY(-60%) scale(0.3);
  /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
}

.wave {
  background: url("../assets/img/wave.png");
  background-repeat: repeat no-repeat;
  position: absolute;
  width: 1000vw;
  height: 100%;
  left: 0;
  animation: wave 3s -3s linear infinite;
  margin: 0;
  transform: translate(0, 0);
  opacity: 1;
}

.wave:nth-of-type(2) {
  bottom: 0;
  background: url("../assets/img/wave2.png");
  animation: wave 16s linear reverse infinite;
  opacity: 0.6;
}

.wave:nth-of-type(3) {
  bottom: 0;
  background: url("../assets/img/wave3.png");
  animation: wave 27s -1s linear infinite;
  opacity: 0.4;
}

.wave:nth-of-type(4) {
  background: url("../assets/img/wave4.png");
  bottom: 0;
  animation: wave 32s -3s linear infinite;
  opacity: 0;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2954px);
  }
}
#skillcanvas {
  position: absolute;
  z-index: 0 !important;
  background: transparent;
  margin: 0;
  padding: 0;
  top: 0;
  height: 90vh;
  left: 0;
  position: absolute;
  display: inline-block;
  touch-action: none;
}

.texthover1 {
  transition: 1s ease;
  z-index: 50;
}

.pages {
  position: relative;
  width: 100vw;
  padding: 0;
  left: 0;
  box-sizing: border-box;
}

.modal_cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: 99;
  display: none;
}

.modal {
  display: none;
  min-height: 100px;
  min-width: 600px;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 30px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  text-align: center;
}
.modal h1 {
  font-family: Poppins;
  margin-bottom: 20px;
}
.modal .close {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}
.modal .text {
  font-family: Open sans;
  font-size: 20px;
}

#footer {
  background-color: #131518;
  color: rgb(238, 238, 238);
  font-family: Poppins;
  padding: 10px 0px 10px 10px;
  border-top: 2px solid whitesmoke;
}
#footer .content {
  display: flex;
  justify-content: space-between;
}
#footer .content h1 {
  text-decoration: none;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 4rem;
}
#footer .content .contacts {
  display: inline-grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
}
#footer .content .contacts div .email {
  transition: 0.5s ease;
}
#footer .content .contacts div .email:hover {
  color: #e2c368;
}
#footer .content .contacts div .phone {
  transition: 0.5s ease;
}
#footer .content .contacts div .phone:hover {
  color: #398cea;
}
#footer .content .contacts div .discord {
  transition: 0.5s ease;
}
#footer .content .contacts div .discord:hover {
  color: #9c7af3;
}
#footer .content .contacts p {
  font-size: 1em;
}
#footer .content .contacts p .material-icons {
  font-size: 1em;
  transform: translateY(0.11em);
}
#footer .content .contacts p .material-icons a {
  transition: 1s;
}
#footer #map {
  margin-right: 20px;
  width: 40%;
  height: 400px;
  margin-left: 100px;
}

.credits {
  min-height: 20px;
  width: 100vw;
  background-color: rgb(19, 19, 19);
  padding: 20px;
  position: relative;
  text-align: center;
  color: white;
}
.credits h2 {
  font-family: Poppins;
  color: white;
  font-weight: normal;
  font-size: 1.2em;
  margin: 0;
  margin-right: 30px;
  position: absolute;
  padding-right: 30px;
  width: 100%;
}
.credits p {
  margin-top: 10px;
  color: #c0c0c0;
}

@media screen and (min-width: 700px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    outline-offset: -2px;
    -webkit-transition: 0.2 ease;
    transition: 0.2 ease;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
  }
  .event-card.style-1 .info p {
    font-size: 13px !important;
  }
}/*# sourceMappingURL=index.css.map */